<!-- Navbar -->
<nav class="navbar bg-info my-2">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <h1>ARTICLE EQUIPE</h1>
    <button class="btn btn-success animated-btn" data-toggle="modal" data-target="#staticBackdrop">
      Ajouter une équipe &nbsp; <i class="fas fa-futbol"></i>
    </button>
  </div>
</nav>

<!-- Champ de recherche -->
<div class="input-group mb-4 mt-3 px-3 search-container">
  <input
    type="text"
    class="form-control"
    placeholder="Rechercher une équipe..."
    [(ngModel)]="searchTerm"
    (input)="filterTeam()"
  />
<div class="input-group-append">
  <button class="btn bg-info text-white" type="button">Rechercher&nbsp;</button>
</div>

</div>

<!-- Tableau des équipes -->
<div class="table-responsive px-3">
  <table class="table table-hover mt-3">
    <thead class="bg-info">
      <tr>
        <th>Article ID</th>
        <th>Nom Equipe</th>
        <th>Logo</th>
        <th>Date de Création</th>
        <th>Ligue</th>
        <th>Trophée</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of filteredTeamData">
        <td>{{ row.id }}</td>
        <td>{{ row.NomEquipe }}</td>
        <td>
          <img [src]="row.logoUrl" alt="Logo" width="50" height="50" *ngIf="row.logoUrl" class="rounded shadow-sm" />
        </td>
        <td>{{ row.Date }}</td>
        <td>{{ row.ligue }}</td>
        <td>{{ row.trophee }}</td>
        <td>
          <button
            type="button"
            (click)="onEdit(row)"
            data-toggle="modal"
            data-target="#staticBackdrop"
            class="btn btn-warning btn-sm me-1"
          >
            Modifier
          </button>
          <button (click)="deleteTeam(row)" class="btn btn-danger btn-sm">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-backdrop="static"
  tabindex="-1"
  role="dialog"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark text-light border-0">
      <div class="modal-header bg-info border-secondary">
        <h5 class="modal-title " id="staticBackdropLabel">Détails de l'équipe</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="NomEquipe" class="form-label">Nom équipe</label>
            <input type="text" class="form-control" formControlName="NomEquipe" id="NomEquipe" />
          </div>
          <div class="mb-3">
            <label for="logoUrl" class="form-label">URL du Logo</label>
            <input
              type="text"
              class="form-control"
              id="logoUrl"
              formControlName="logoUrl"
              placeholder="https://..."
            />
          </div>
          <div class="mb-3">
            <label for="Date" class="form-label">Date de création</label>
            <input type="text" class="form-control" id="Date" formControlName="Date" />
          </div>
          <div class="mb-3">
            <label for="trophee" class="form-label">Trophées</label>
            <input type="text" class="form-control" id="trophee" formControlName="trophee" />
          </div>
          <div class="mb-3">
            <label for="ligue" class="form-label">Ligue sélectionnée</label>
            <select
              class="form-control  p-0"
              formControlName="ligue"
              id="ligue"
            >
              <option value="" disabled selected >-- Choisir une ligue --</option>
              <option *ngFor="let ligue of LeagueData" [value]="ligue.NomLeague">
                {{ ligue.NomLeague }}
              </option>
            </select>
          </div>




          <!-- Composant de sélection de ligue -->
          
        </form>
      </div>

      <div class="modal-footer border-secondary">
        <button
          *ngIf="!isEditMode"
          type="button"
          (click)="postTeamDetails()"
          class="btn btn-success"
        >
          Ajouter
        </button>
        <button
          *ngIf="isEditMode"
          type="button"
          (click)="updateteamDetails()"
          class="btn btn-primary"
        >
          Modifier
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="formValue.reset(); isEditMode = false;"
        >
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>
